* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

//COLOR & FONT//
$red: #ec411f;
$darkred: #cd0f0f;
$black: #525252;
$gray: #bababa;
$white: #f4f4f4;
$font:'Noto Sans', sans-serif;

// BASE STYLES //
  body, html {
    height: 100%;
    font-family: $font;
    color: $black;
    background-color: $white;
  }

h1 {
  font-family: $font;
  font-weight: bold;
  font-size: 40px;
  color: $black;
  text-align: center;
  margin: .25em;
}

h2 {
  font-family: $font;
  font-weight: bold;
  font-size: 25px;
  color: $black;
}

h3 {
  font-family: $font;
  font-weight: bold;
  font-size: 20px;
  color: $black;
}

p {
  font-family: $font;
  font-size: 14px;
  color: $black; 
}

i {
  font-size: 20px;
  color: $black;
}

li {
  font-family: $font;
  font-size: .8em;
  padding: .5em 0.4em;
  list-style-type: none;
}

button:focus, input:focus {outline:0;}


//LANDING PAGE//

.bg {
  background-image: url("../img/landing.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#pantry{
  font-family: 'Bell MT', sans-serif;
  font-size: 98px;
  font-weight: normal;
  color: #f4f4f4;
  margin: 15% auto 0 auto;
  display: inline-block;
  width: 100%;
}

.is-hidden {
  display: none;
}
#loginIcon{
  width: 64px;
  height: 64px;
  margin: 0 30% 60%;
}
#loginButton{
  width: 281px;
  height: 90px;
  background: linear-gradient($red, $darkred);
  font-family: $font;
  font-size: 40px;
  font-weight: bold;
  color: $white;
  border: hidden;
  border-radius: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

#loginButton:active {
  background-color: $white;
  border: hidden;
  border-radius: 0px;
}

//SEARCH PAGE//
.tab{
  text-align: center;
  padding: 5px 0; 
  font-family: $font;
  font-size: 20px;
  font-weight: bold;
}

.TabActive{
  background-color: $red;
  border-bottom: 2px solid $red;
  color: $white;
}

.TabInactive{
  background-color: $white;
  border-bottom: 2px solid $red;
  color: $black;
}

#searchDiv {
  margin-top: 1em;
}

#searchInput {
  height: 43px;
  border: $gray solid 2px;
  font-family: $font;
  color: $black;
}

#searchButton {
  height: 43px;
  border: $red solid 2px;
  color: $red;
  background-color: white;
  margin-top: 1em !important;
  font-weight: bold;
  font-size: 20px;
  transition-duration: .4s;
  overflow: hidden;
}

#searchButton:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: $red;
  opacity: 0;
  color: $white;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

// #logoutButton:after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 2px;
//   height: 2px;
//   background: $white;
//   opacity: 0;
//   color: $red;
//   border-radius: 100%;
//   transform: scale(1, 1) translate(-50%);
//   transform-origin: 50% 50%;
// }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  30% {
    transform: scale(60, 60);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(60, 60);
  }
}

#searchButton:active {
  background-color: $red;
  color: $white;
  transition: ease-out .2s;
}

#logoutButton:active {
  background-color: transparent;
  color: $red;
  transition: ease-out .2s;
  border: 2px solid $red;
  box-shadow: 0 1px 2px rgba(0,0,0,.3)
}

#searchButton:focus:not(:active)::after{
  animation: ripple 1.4s ease-out;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
    font-family: $font;
}

.iconDiv {
  margin-top: 1em;
}

.searchIcon {
  height: 40px;
  width: 40px;
}

#resultsDiv {
  height: 21.6em;
  margin-top: 1.2em;
  overflow: auto;
}

#logoutButton{
  height: 43px;
  background-color: $red;
  color: $white;
  border: 2px solid $red;
  font-weight: bold;
  position: fixed;
  bottom: 23px;
  left: 15px;
  padding: 0;
}

.recipeDiv{
  background-color: white;
  padding: 15px 0;
  margin-bottom: 1em;
}

.recipeInfo{
  height: 85px;
}

.overviewIcon{
  height: 25px;
  width: 25px;
  margin-top: 20px;
}

#cookingMinutes {
  margin: 25px 0 0 6px;
}

.recipeOverviewImage {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,.6);
  padding: 0;
  margin: 0 0 0 15px
}

.recipeOverviewName {
  margin: auto;
  padding:0;
  color: $black
}


//Recipe Overview Page//
.fullRecipeImage {
  height: 30vh;
  margin-top: 1em;
}

.recipeName {
  margin-top: 15px;
}

//Saved Recipe Overview Page//
#savedDiv {
  margin-top: 30px;
  height: 77vh;
  overflow: auto;
}

//Recipe Details Page
.infoContainer {
  overflow: auto;
  height: 81vh;
  background-color: white;
}

.favoriteIcon {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 26px;
  right: 30px;
  padding: 0;
}